<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4><i class="fa fa-filter mr-2"></i>Filtros</h4>
                        <hr style="margin-top: 0px;">
                    </div>
                </div>
                <form #forma="ngForm">
                    <div class="row">
                        <div class="col-4">
                            <label class="small"><strong>Por Carrera</strong></label>
                            <!-- <select class="custom-select selectpicker selectpicker-down form-control btn-outline-light ops" data-size="4" data-dropup-auto=false title="Carreras" type="text" data-live-search="true" name="idCarrera" [(ngModel)]="alerta.idCarrera" #idCarrera="ngModel"
                                (ngModelChange)="getEspecialidades($event)">
                                <option *ngFor="let carrera of carreras" [ngValue]="carrera._id">{{carrera.strCarrera}}</option>
                            </select> -->
                            <app-bootstrap-select *ngIf="mostrarCarreras" (ngModelChange)="getEspecialidades($event)" [ngForm]="forma" [name]="'idCarrera'" [datos]="carreras" (model)="alerta.idCarrera = $event" [titulo]="'Seleccione una Carrera'" [multiple]="false" [dataLiveSearch]="true"
                                [required]="false" [default]="[idCarreraMonitor]"></app-bootstrap-select>

                            <app-bootstrap-select *ngIf="!mostrarCarreras" [ngForm]="forma" [name]="'idCarrera'" (model)="alerta.idCarrera = $event" [titulo]="'Seleccione una Carrera'" [multiple]="false" [dataLiveSearch]="true" [required]="false"></app-bootstrap-select>
                        </div>

                        <div class="col-4">
                            <label class="small"><strong>Por Especialidad</strong></label>
                            <!-- <select class="custom-select selectpicker selectpicker-down form-control btn-outline-light ops" data-size="4" data-dropup-auto=false title="Especialidades" type="text" data-live-search="true" name="idEspecialidad" [(ngModel)]="alerta.idEspecialidad" #idEspecialidad="ngModel"
                                (ngModelChange)="getAlertas()">
                                <option *ngFor="let esp of especialidades" [ngValue]="esp._id">{{esp.strEspecialidad}}</option>
                            </select> -->

                            <app-bootstrap-select *ngIf="mostrarEspecialidad" (ngModelChange)="guardarEspecialidad()" [ngForm]="forma" [name]="'idEspecialidad'" [datos]="especialidades" (model)="alerta.idEspecialidad = $event" [titulo]="'Seleccione una Especialidad'" [multiple]="false"
                                [dataLiveSearch]="true" [required]="false" [default]="[idEspecialidadMonitor]" [disabled]="disabled"></app-bootstrap-select>

                            <app-bootstrap-select *ngIf="!mostrarEspecialidad" [ngForm]="forma" [name]="'idEspecialidad'" (model)="alerta.idEspecialidad = $event" [titulo]="'Seleccione una Especialidad'" [multiple]="false" [dataLiveSearch]="true" [required]="false" [disabled]="true"></app-bootstrap-select>
                        </div>

                        <div class="col-4">
                            <label class="small"><strong>Por Asignatura</strong></label>
                            <!-- <select class="custom-select selectpicker selectpicker-down form-control btn-outline-light ops" data-size="4" data-dropup-auto=false title="Asignaturas" type="text" data-live-search="true" name="idAsignatura" [(ngModel)]="alerta.idAsignatura" #idAsignatura="ngModel"
                                (ngModelChange)="getAlertas()">
                                <option *ngFor="let asig of asignaturas" [ngValue]="asig._id">{{asig.strNombre}}</option>
                            </select> -->
                            <app-bootstrap-select *ngIf="mostrarAsignatura" (ngModelChange)="guardarAsignatura()" [ngForm]="forma" [name]="'idAsignatura'" [datos]="asignaturas" (model)="alerta.idAsignatura = $event" [titulo]="'Seleccione una Asignatura'" [multiple]="false" [dataLiveSearch]="true"
                                [required]="false" [default]="[idAsignaturaMonitor]" [disabled]="disabled"></app-bootstrap-select>

                            <app-bootstrap-select *ngIf="!mostrarAsignatura" [ngForm]="forma" [name]="'idAsignatura'" (model)="alerta.idAsignatura = $event" [titulo]="'Seleccione una Asignatura'" [multiple]="false" [dataLiveSearch]="true" [required]="false" [disabled]="true"></app-bootstrap-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="small"><strong>Por Profesor</strong></label>
                            <!-- <select class="custom-select selectpicker selectpicker-down form-control btn-outline-light ops" data-size="4" data-dropup-auto=false title="Profesores" type="text" data-live-search="true" name="idUser" [(ngModel)]="alerta.idUser" #idEstatus="ngModel"
                                (ngModelChange)="getAlertas()">
                                <option *ngFor="let prof of profesores" [ngValue]="prof._id">{{prof.strName}} {{prof.strLastName}}</option>
                            </select> -->
                            <app-bootstrap-select *ngIf="mostrarProfesor" (ngModelChange)="guardarProfesor()" [ngForm]="forma" [name]="'idUser'" [datos]="profesores" (model)="alerta.idUser = $event" [titulo]="'Seleccione un Profesor'" [multiple]="false" [dataLiveSearch]="true" [required]="false"
                                [default]="[idUserMonitor]" [disabled]="disabled"></app-bootstrap-select>

                            <app-bootstrap-select *ngIf="!mostrarProfesor" [ngForm]="forma" [name]="'idUser'" (model)="alerta.idUser = $event" [titulo]="'Seleccione un Profesor'" [multiple]="false" [dataLiveSearch]="true" [required]="false" [disabled]="true"></app-bootstrap-select>
                        </div>

                        <div class="col-4">
                            <label class="small"><strong>Por Fecha</strong></label>
                            <div class="input-group input-daterange">
                                <input type="date" class="form-control form-control-sm btn-outline-secondary input-cursor" name="createdAt" min="2018-01-01" [ngModel]="alerta.createdAt | date:'yyyy-MM-dd' : 'UTC'" (ngModelChange)="alerta.createdAt = $event" (ngModelChange)="guardarFechaDesde()"
                                    #createdAt="ngModel" [value]="alerta.createdAt" [disabled]="disabled">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input type="date" class="form-control form-control-sm btn-outline-secondary input-cursor" name="createdAt1" min="2018-01-01" [ngModel]="alerta.createdAt1 | date:'yyyy-MM-dd' : 'UTC'" #createdAt1="ngModel" (ngModelChange)="alerta.createdAt1 = $event"
                                    (ngModelChange)="guardarFechaHasta()" [value]="alerta.createdAt1" [disabled]="disabled">
                            </div>
                        </div>

                        <div class="col-3">
                            <label class="small"><strong>Por Estatus</strong></label>
                            <!-- <select class="form-control custom-select selectpicker btn-outline-light" data-size="4" data-dropup-auto=false title="Estatus" type="text" data-live-search="true" name="idEstatus" [(ngModel)]="alerta.idEstatus" #idEstatus="ngModel" (ngModelChange)="getAlertas()">
                                <option *ngFor="let estatus of arrEstatus" [ngValue]="estatus._id">{{estatus.strNombre}}</option>
                            </select> -->
                            <app-bootstrap-select *ngIf="mostrarEstatus" (ngModelChange)="guardarEstatus()" [ngForm]="forma" [name]="'idEstatus'" [datos]="arrEstatus" (model)="alerta.idEstatus = $event" [titulo]="'Seleccione un Estatus'" [multiple]="false" [dataLiveSearch]="true"
                                [required]="false" [default]="[idEstatusMonitor]" [disabled]="disabled"></app-bootstrap-select>

                            <app-bootstrap-select *ngIf="!mostrarEstatus" [ngForm]="forma" [name]="'idEstatus'" (model)="alerta.idEstatus = $event" [titulo]="'Seleccione un Estatus'" [multiple]="false" [dataLiveSearch]="true" [required]="false" [disabled]="true"></app-bootstrap-select>
                        </div>

                        <div class="col-1 mt-1">
                            <button class="btn btn-warning btn-block mt-4" (click)="resetFiltros()">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-11 mt-3">
                        <input [(ngModel)]="searchText" type="text" autocomplete="off" name="searchText" class="form-control form-control-sm btn-outline-secondary ops mt-2 p-1" placeholder=" Buscar...">
                    </div>

                    <div class="col-1 mt-3 text-right">
                        <div>
                            <button type="button" class="btn btn-info btn-sm mt-2" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h "></i></button>
                            <div class="dropdown-menu dropdown-menu-right shadow-lg " aria-labelledby="dropdownReports">
                                <div class="dropdown-header text-info "><span class="text-xs text-uppercase ">EXPORTAR</span>
                                </div>
                                <a type="button" class="dropdown-item drop-options-text pdf " (click)="exportPDF()"><i class="fa fa-file-pdf-o mr-2 "></i>PDF</a>
                                <a type="button" class="dropdown-item drop-options-text excel" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o mr-2 "></i>Excel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row fadeIn mt-4">
                    <div class="col-12">
                        <table id="PDFTable" class="table table-sm table-responsive" [ngClass]="{'table-hover': (!cargando && alertas.length &gt; 0) }">
                            <thead class="text-center">
                                <tr>
                                    <th>ALUMNO(S)</th>
                                    <th>SEGUIMIENTO</th>
                                    <th>CARRERA</th>
                                    <th>ESPECIALIDAD</th>
                                    <th>ASIGNATURA</th>
                                    <th>GRADO/GRUPO</th>
                                    <th>PROFESOR</th>
                                    <th>FECHA</th>
                                    <th>ESTATUS</th>
                                    <th>SEMANA</th>
                                    <th>MOTIVO</th>
                                </tr>
                            </thead>

                            <!-- SE MUESTRA CUANDO HAY REGISTROS -->
                            <tbody *ngIf="alertas.length > 0 && !cargando">
                                <tr class="animated fadeIn fast" *ngFor="let alerta of arrAlertasFinal | filter:searchText | paginate:{itemsPerPage: 10, currentPage: pageActual}">

                                    <td *ngIf="alerta.alert.strMatricula.length > 1" class="text-center">
                                        <button type="button" class="btn btn-sm btn-info" (click)="verAlumno(alerta.alert._id)" data-toggle="modal" data-target="#alumnos-modal"><i class="fa fa-users"></i></button>
                                    </td>
                                    <td *ngIf="alerta.alert.strMatricula.length == 1" class="text-center">
                                        <button type="button" class="btn btn-sm btn-info" (click)="verAlumno(alerta.alert._id)" data-toggle="modal" data-target="#alumnos-modal"><i class="fa fa-user"></i></button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-primary" (click)="verAlerta(alerta.alert._id)"><i class="fa fa-eye"></i></button>
                                    </td>
                                    <td>{{alerta.alert.idCarrera.strCarrera}}</td>
                                    <td>{{alerta.strEspecialidad}}</td>
                                    <td>{{alerta.alert.idAsignatura.strAsignatura}}</td>
                                    <td class="text-center">{{alerta.alert.strGrupo}}</td>
                                    <td>
                                        {{alerta.alert.idUser.strName}} {{alerta.alert.idUser.strLastName}} {{alerta.alert.idUser.strMotherLastName ? alerta.alert.idUser.strMotherLastName : ''}}
                                    </td>
                                    <td>{{alerta.alert.createdAt | date}}</td>
                                    <td>
                                        <span class="badge badge-info" *ngIf="nuevo == alerta.alert.idEstatus._id"> <i class="fa fa-star"></i> {{alerta.alert.idEstatus.strNombre}}</span>
                                        <span class="badge badge-warning" *ngIf="enProgreso == alerta.alert.idEstatus._id"><i class="fa fa-cog fa-spin fa fa-fw"></i> {{alerta.alert.idEstatus.strNombre}}</span>
                                        <span class="badge badge-danger" *ngIf="cerrado == alerta.alert.idEstatus._id"> <i class="fa fa-times"></i> {{alerta.alert.idEstatus.strNombre}}</span>
                                        <span class="badge badge-success" *ngIf="finalizado == alerta.alert.idEstatus._id"> <i class="fa fa-check"></i> {{alerta.alert.idEstatus.strNombre}}</span>
                                    </td>
                                    <td class="text-center">{{alerta.alert.nmbSemana}}</td>
                                    <td><span class="badge badge-danger" *ngFor="let motivo of alerta.alert.arrCrde">{{motivo.strNombre}}</span></td>
                                </tr>
                            </tbody>

                            <!-- SE MUESTRA CUANDO NO SE HA SELECCIONADO NINGUN FILTRO -->
                            <tbody *ngIf="alertas.length == 0 && filtro == false">
                                <tr>
                                    <td colspan="14">
                                        <div class="alert-dismissible text-center animated fadeIn faster" style="padding: .75rem 1.25rem;">
                                            <h5 style="height: 100%;width: 100%;"><strong><i class="fa fa-filter" aria-hidden="true"></i> ¡Seleccione un filtro para encontrar resultados!</strong></h5>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                            <!-- SE MUESTRA CUANDO NO HAY REGISTROS QUE COINCIDAN CON LOS FILTROS -->
                            <tbody *ngIf="alertas.length == 0 && filtro == true && cargando == false">
                                <tr>
                                    <td colspan="14">
                                        <div class="alert-dismissible text-center animated fadeIn faster" style="padding: .75rem 1.25rem;">
                                            <h5 style="height: 100%;width: 100%;"><strong><i class="fa fa-sad-cry" aria-hidden="true"></i> ¡No hay registros con esas especificaciones!</strong></h5>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                            <!-- SE MUESTRA MIENTRAS SE MUESTRA LA INFORMACIÓN DE LA TABLA -->
                            <tbody *ngIf="filtro == true && cargando === true">
                                <tr>
                                    <td colspan="14 ">
                                        <div class=" alert-dismissible text-center " style="padding: .75rem 1.25rem; ">
                                            <h5 style="height: 100%;width: 100%; "><strong><i class="fa fa-spinner fa-pulse "></i> CARGANDO...</strong></h5>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <div *ngIf="arrAlertasFinal.length > 0" class="mt-4 float-right fadeIn ">
                            <pagination-controls (pageChange)="pageActual=$event " previousLabel="Anterior " nextLabel="Siguiente "></pagination-controls>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- MODAL ALUMNOS-->
<div class="modal fade" id="alumnos-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="arrAlumno.length > 1" class="modal-title text-info" id="staticBackdropLabel"><i class="fa fa-users"></i> Alumnos </h5>
                <h5 *ngIf="arrAlumno.length == 1" class="modal-title text-info" id="staticBackdropLabel"><i class="fa fa-user"></i> Alumno </h5>
            </div>
            <div class="modal-body text-center">
                <div class="container ">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="text-center">MATRICULA</th>
                                <th class="text-center">ALUMNO</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let alumno of arrAlumno; let i = index;">
                                <td>{{arrMatricula[i]}}</td>
                                <td>{{arrAlumno[i]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <i class="fa fa-send mr-2"></i> -->
                <button type="button" class="btn btn-info btn-block" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>