<div class="container">
    <h4>Registro de Conductas</h4>
    <hr>
</div>

<form (ngSubmit)="updateBehavior(forma)" #forma="ngForm" novalidate="" enctype="multipart/form-data">
    <div class="form-group-sm small">

        <div class="row">
            <div class="form-group col-md-12">

                <div>
                    <input [class.is-invalid]="strNombre.invalid && strNombre.touched" class="form-control form-control-sm" type="text " placeholder="Conducta" name="strNombre" [(ngModel)]="behavior.strNombre" required #strNombre="ngModel">
                    <div class="invalid-feedback" *ngIf="strNombre.errors?.required">
                        <small>
                            Es necesario ingresar una conducta.
                        </small>
                    </div>
                </div>

                <div>
                    <input disabled [class.is-invalid]="strClave.invalid && strClave.touched" class="form-control form-control-sm mt-2" type="text " placeholder="Clave" onkeyup="this.value=this.value.toUpperCase();" name="strClave" [(ngModel)]="behavior.strClave" #strClave="ngModel">
                    <!--disabled-->
                    <div class="invalid-feedback" *ngIf="strClave.errors?.required">
                        <small>
                            Es necesario ingresar una clave.
                        </small>
                    </div>
                </div>

                <div class="mt-2">
                    <select [class.is-invalid]="blnStatus.invalid && blnStatus.touched" class="custom-select form-control form-control-sm" type="text" name="blnStatus" [(ngModel)]="behavior.blnStatus" required #blnStatus="ngModel">
                        <option [ngValue]="true">Activo</option>
                        <option [ngValue]="false">Inactivo</option>
                      </select>
                </div>

                <div class="list-inline mt-3 text-right">
                    <div class="list-inline-item">
                        <div class="form-group row">
                            <div class="mr-3">
                                <button (click)="updateCanceled()" type="submit " class="btn btn-outline-danger btn-sm mr-2"><i class="fa fa-times mr-2 "></i>Cancelar</button>
                                <button [disabled]="forma.invalid" type="submit " class="btn btn-outline-info btn-sm"><i class="fa fa-save mr-2 "></i>Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>