<div class="card">
    <div class="row">

        <div class="container-fluid ">

            <div class="container">
                <div class="animated fadeIn fast">
                    <h4><i class="fa fa-address-card mr-2" ></i> Notificaciones</h4>
                    <hr>
                </div>
            </div>
            <div class="row container">
                <div class="col-lg-11 mt-2">
                <label for="">{{name}} {{strLastName}} {{strMotherLastName}}</label>
                </div>
            <div class="col-md-1">
                <button (click)="boton()" class="btn btn-info btn-sm text-uppercase mt-3" style="width: 50%;" > <i class="fa fa-info-circle"></i></button>

            </div>
            </div>
        

            <div class="row container mt-4">
               
                <div class="col-lg-11 mt-2">
                    <input [(ngModel)]="searchText" type="text" name="searchText" class="form-control form-control-sm btn-outline-secondary ops" placeholder=" Buscar...">
                </div>
                <div class="col-md-1 mt-2">
                    <div>
                        <button type="button" class="btn btn-info btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h "></i></button>
                        <div class="dropdown-menu dropdown-menu-right shadow-lg " aria-labelledby="dropdownReports">
                            <div class="dropdown-header text-info">
                                <span class="text-xs text-uppercase ">EXPORTAR</span>
                            </div>
                            <a type="button" class="dropdown-item drop-options-text pdf " style="cursor: pointer; cursor:hand;" (click)="exportPDF()"><i class="fa fa-file-pdf-o mr-2 "></i>PDF</a>
                            <a type="button" class="dropdown-item drop-options-text excel" style="cursor: pointer; cursor:hand;" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o mr-2 "></i>Excel</a>
                        </div>
                    </div>
              </div>

              <div class="row container mt-4">
                <div class="container small">
                    <div class="row fadeIn">
                        <div class="col-12">

                            <table class="table table-sm table-hover table-borderless">
                                <thead>
                                    <tr>
                                        <th>CARRERA / ESPECIALIDAD </th>
                                        <th>ASIGNADO</th>

                                    </tr>
                                </thead>
                                <!-- SE MUESTRA CUANDO HAY REGISTROS -->
                                <tbody *ngIf="carreras.length &gt; 0 && !cargando">
                                    <tr *ngFor="let carrera of carreras | filter:searchText | paginate:{itemsPerPage: 10, currentPage: pageActual}">
                                        <td>
                                            <strong>
                                                {{carrera.strCarrera}}
                                            </strong>

                                            <div class="row" *ngFor="let especialidad of carrera.aJsnEspecialidad">
                                                <div class="col-xs col-sm">
                                                    <p class=" mt-4 ml-4" style="margin-left: 50px;">
                                                        {{ especialidad.strEspecialidad}}
                                                    </p>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="ml-4" (click)="changetodos(carrera)">
                                                <p>
                                                    <input type="checkbox" id="check" value="check" [checked]="carrera.check">
                                                    <label for="vehicle1" class="form checkbox"> </label>
                                                </p>
                                            </div>

                                            <div class="ml-4" *ngFor="let especialidad of carrera.aJsnEspecialidad">
                                                <p (click)="changeCheck(especialidad)">
                                                    <input type="checkbox" id="check" value="check" [checked]="especialidad.check">
                                                    <label for="vehicle1" class="form checkbox"> </label>
                                                </p>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>

                                <!-- SE MUESTRA CUANDO NO HAY REGISTROS -->
                                <tbody *ngIf="carreras.length &lt;= 0 && !cargando">
                                    <tr>
                                        <td colspan="14">
                                            <div class="alert-dismissible text-center" style="padding: .75rem 1.25rem;">
                                                <h5 style="height: 100%;width: 100%;"><strong><i class="fa fa-frown-o" aria-hidden="true"></i> ¡NO HAY REGISTROS PARA MOSTRAR!</strong></h5>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-4 float-right fadeIn ">
                                <pagination-controls (pageChange)="pageActual=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                            </div>
                        </div>
                        <div class="mr-3">
                            <div class="row">
                            <div class="col-5 mt-1">
                            <button [routerLink]="['/user-management']" class="btn btn-outline-danger btn-sm"><i class="fa fa-times mr-2"></i>Cancelar</button>
                            </div>
                            <div class="col-5 mt-1">
                            <button (click)="putUsuario()"  type="submit " class="btn btn-outline-info btn-sm "><i class="fa fa-save mr-2 "></i>Registrar</button>
                            </div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>

          


        </div>
    </div>
</div>

                
