<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/utags/bg-utags.jpg);">
    <div class="login-box card">
        <div class="logo-uta-icono">
            <a class="text-center db  m-t-0 m-b-0">
                <img src="assets/images/utags/logo-icon.png" class="card-img-top img-responsive align-self-center mt-2" alt="utags" style="width: 40%;" />
            </a>
        </div>
        <div class="card-body">
            <form (ngSubmit)="changePassword(forma)" #forma="ngForm" class="form-horizontal form-material" autocomplete="off" id="loginform">
                <h2 class="box-title m-t-0 m-b-0 center-align text-center db text-uppercase">Cambiar mi Contraseña</h2>

                <div class="form-group mt-4 m-2">
                    <label class="small"><strong>Nueva Contraseña</strong></label>
                    <input [ngClass]="{'is-invalid': strFPass.errors?.required && forma.controls['strFPass'].touched }" minlength="8" class="form-control" type="password" placeholder="Contraseña" name="strFPass" [(ngModel)]="password.strFPass" required #strFPass="ngModel">
                    <div class="text-danger small mt-1" *ngIf="strFPass.errors?.minlength">
                        Mínimo 8 caracteres.
                    </div>
                </div>
                <div class="form-group mt-3 m-2">
                    <label class="small"><strong>Confirmar la nueva Contraseña</strong></label>
                    <input [ngClass]="{'is-invalid': strSPass.errors?.required && forma.controls['strSPass'].touched }" minlength="8" class="form-control" type="password" placeholder="Confirmar Contraseña" name="strSPass" [(ngModel)]="password.strSPass" required #strSPass="ngModel">
                    <div class="text-danger animated fadeIn fast" *ngIf="strSPass.value != strSPass.value && strSPass.dirty">
                        <small>Las contraseñas deben coincidir</small>
                    </div>
                </div>

                <a class="text-center">
                    <button type="submit" [disabled]="forma.invalid" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase mt-4">Cambiar Contraseña</button>
                </a>
            </form>
        </div>
    </div>
</section>