<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(assets/images/utags/VISIT-1.jpg);">
    <div class="login-box card col-12">
        <img src="assets/images/utags/logo.jpg" class="card-img-top img-responsive align-self-center mt-2" alt="utags"
            style="width: 40%;">
        <h2 class="text-center text-uppercase">VISITAGS</h2>
        <div class="card-body">
            <form [formGroup]="user" class="form-horizontal form-material" id="loginform">

                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="small"><strong>Correo Electrónico</strong></label>
                        <input class="form-control" type="text" placeholder="Correo Institucional" name="strEmail"
                            formControlName="strEmail" [class.is-invalid]="invalidEmail">
                        <small *ngIf="invalidEmail" class="text-danger">El correo no es valido</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="small"><strong>Contraseña</strong></label>
                        <input class="form-control" type="password" placeholder="Contraseña" name="strPassword"
                            formControlName="strPassword" minlength="8" [class.is-invalid]="invalidPassword">
                        <small *ngIf="invalidPassword" class="text-danger">La contraseña debe contener minimo 8
                            caracteres</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left">
                            <input formControlName="rememberMe" id="checkbox-signup" type="checkbox"
                                class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup"> Recordar cuenta </label>
                        </div>
                        <br><br>
                        <a id="to-recover" class="text-dark pull-right" [routerLink]="['/sendemail']"><i
                                class="fa fa-lock mr-1"></i> ¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <hr>
                <!-- <div class="form-group text-center m-t-20"> -->
                <!-- <div class="col-xs-12"> -->
                <!-- <button (click)="login()" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase mb-2">Ingresar</button> -->
                <!-- <button type="submit" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase mb-5">Ingresar</button> -->
                <a class="text-center">
                    <button (click)="login()"
                        class="btn btn-dark btn-lg btn-block btn-rounded text-uppercase mt-3">Ingresar</button>
                </a>
                <!-- </div> -->
                <!-- </div> -->
                <div class="form-group">
                    <div class="col-sm-12 text-center mt-3">
                        ¿No tienes una cuenta? <a [routerLink]="['/register']"
                            class="text-dark m-l-5"><b>Registrate</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->