<div class="card">
    <div class="row">
        <div class="col-md-12">

            <h4 class="animated fadeIn fast"><i class="fa fa-user mr-2 mt-3"></i> Datos de Usuario</h4>
            <hr>

            <form>
                <div class="form-group-sm small">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="">
                                <label class=""><strong>Nombre</strong></label>
                                <input [disabled]="true" type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Nombres">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="">
                                <label class=""><strong>Primer Apellido</strong></label>
                                <input [disabled]="true" type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Primer Apellido">
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="">
                                <label class=""><strong>Segundo Apellido</strong></label>
                                <input [disabled]="true" type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Segundo Apellido">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">

                            <div class="">
                                <label class=""><strong>Rol del Usuario</strong></label>
                                <select [disabled]="true" class="custom-select form-control form-control-sm" id="exampleFormControlSelect1"></select>
                            </div>

                            <div class="mt-2">
                                <label class=""><strong>Estatus</strong></label>
                                <select [disabled]="true" class="custom-select form-control form-control-sm" id="exampleFormControlSelect1"></select>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>