<<div class="container">
    <h4>Registrar Carrera</h4>
    <hr>
    </div>

    <form (ngSubmit)="saveReason(forma)" #forma="ngForm" novalidate="" enctype="multipart/form-data">
        <div class="form-group-sm small">

            <div class="row">
                <div class="form-group col-md-12">

                    <div>
                        <input [class.is-invalid]="strCategoria.invalid && strCategoria.touched" class="form-control form-control-sm" type="text " placeholder="Nombre de categoria" name="strCategoria" [(ngModel)]="reasons.strCategoria" required #strCategoria="ngModel">
                        <div class="invalid-feedback" *ngIf="strCategoria.errors?.required">
                            <small>
                            Es necesario ingresar una categoria.
                        </small>
                        </div>
                    </div>

                    <div class="mt-2">
                        <select class="custom-select form-control form-control-sm" type="text" name="blnStatus" [(ngModel)]="reasons.blnStatus" #blnStatus="ngModel">
                        <option [ngValue]="true" hidden>Activo</option>
                        <option [ngValue]="false">Inactivo</option>
                      </select>
                    </div>

                    <div class="list-inline mt-3 text-right">
                        <div class="list-inline-item">
                            <div class="form-group row">
                                <div class="mr-3">
                                    <button [disabled]="forma.invalid" type="submit " class="btn btn-outline-info btn-sm "><i class="fa fa-save mr-2 "></i>Registrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>