<div class="container">
    <div class="animated fadeIn fast">
        <h4><i class="fa fa-pencil mr-2"></i> Registrar Asignatura</h4>
        <hr>
    </div>

    <form (ngSubmit)="saveAgignatura(forma)" #forma="ngForm" novalidate="" enctype="multipart/form-data">
        <div class="form-group-sm small">

            <div class="row">
                <div class="form-group col-md-12">

                    <div>
                        <label class=""><strong>Nombre de la Asignatura</strong></label>
                        <input [class.is-invalid]="strAsignatura.invalid && strAsignatura.touched" class="form-control form-control-sm" type="text " placeholder="Nombre de la asignatura" name="strAsignatura" [(ngModel)]="sub.strAsignatura" required #strAsignatura="ngModel">
                        <div class="invalid-feedback" *ngIf="strAsignatura.errors?.required">
                            <small>
                                Es necesario ingresar una asignatura.
                            </small>
                        </div>
                    </div>


                    <div class="mt-2">
                        <label class=""><strong>Siglas de la Asignatura</strong></label>
                        <input [class.is-invalid]="strSiglas.invalid && strSiglas.touched" class="form-control form-control-sm" type="text " placeholder="Nombre de las siglas" name="strSiglas" [(ngModel)]="sub.strSiglas" required #strSiglas="ngModel">
                        <div class="invalid-feedback" *ngIf="strSiglas.errors?.required">
                            <small>
                                Es necesario ingresar una sigla.
                            </small>
                        </div>
                    </div>


                    <div class="mt-2">
                        <label class=""><strong>Estatus</strong></label>
                        <select class="custom-select form-control form-control-sm" type="text" name="blnStatus" [(ngModel)]="sub.blnStatus" #blnStatus="ngModel">
                            <option [ngValue]="true">Activo</option>
                            <option [ngValue]="false">Inactivo</option>
                          </select>
                    </div>

                    <div class="list-inline mt-3 text-right">
                        <div class="list-inline-item">
                            <div class="form-group row">
                                <div class="mr-3">
                                    <button [disabled]="forma.invalid" type="submit " class="btn btn-outline-info btn-sm "><i class="fa fa-save mr-2 "></i>Registrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>