<form (ngSubmit)="comentarAlerta(forma)" class="form" novalidate="" enctype="multipart/form-data" #forma="ngForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card px-2 pb-2">
                <div class="row container card-body mb-3">
                    <div class="col-md-6 align-self-start">
                        <div class="row">
                            <i class="fa fa-user-circle mr-2"></i>
                            <small style="font-size: 4;">{{ userName }} </small>
                        </div>
                        <div class="row">
                            <small class="text-primary ml-4" style="font-size: 2;"> {{objSubject.strAsignatura}} </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row justify-content-end">
                            <span class="badge badge-info" *ngIf="nuevo !== principalStatus && enProgreso !== principalStatus && cerrado !== principalStatus && finalizado !== principalStatus">OTRO</span>
                            <span class="badge badge-info" *ngIf="nuevo == principalStatus"><i class="fa fa-star"></i>Nueva</span>
                            <span class="badge badge-danger" *ngIf="cerrado == principalStatus"><i class="fa fa-cog fa-spin fa fa-fw "></i>Cancelada</span>
                            <span class="badge badge-warning" *ngIf="enProgreso == principalStatus"><i class="fa fa-check"></i>En Proceso</span>
                            <span class="badge badge-success" *ngIf="finalizado == principalStatus"><i class="fa fa-cog fa-spin fa fa-fw "></i>Finalizado</span>
                        </div>
                        <div class="row justify-content-end mt-1">
                            <i class="fa fa-calendar mr-2"></i>
                            <small style="font-size: 2;"> {{objAlert.createdAt | date}} </small>
                        </div>
                    </div>
                </div>
        
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion">
                                <div class="">
                                    <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Datos del alumno
                                        </button>
                                    </h5>
                                    </div>
                                
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <table class="table table-bordered table-sm table-hover align-items-center" style="font-size: small;">
                                            <thead>
                                                <tr>
                                                    <th>Matricula</th>
                                                    <th>Nombre</th>
                                                    <th>Grado y Grupo</th>
                                                    <th>Turno</th>
                                                    <th>Modalidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{objAlert.strMatricula}}</td>
                                                    <td>{{objAlert.strNombreAlumno}}</td>
                                                    <td>{{objAlert.strGrupo}}</td>
                                                    <td>{{objAlert.chrTurno}}</td>
                                                    <td>{{objModality.strModalidad}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Observaciones
                                        </button>
                                    </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <div>
                                            <p>{{objAlert.strDescripcion}}</p>
                                        </div>
                                        <!-- <table class="table table-bordered table-sm table-hover align-items-center"  style="font-size: small;">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Observaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> {{objAlert.strDescripcion}}</td>
                                                </tr>
                                            </tbody>
                                        </table>    -->
                                    </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Evidencias
                                        </button>
                                    </h5>
                                    </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <div *ngFor="let doc of arrFiles">
                                            <button (click)="descargarArchivoE(doc.strNombre)" class="btn btn-link mr-3" style="cursor: pointer;"><i class="fa fa-download mr-1"></i> {{doc.strNombre}} </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
        
                    
                    <div class="row container">
                        <div class="col-md-12 mt-2">
                            <span class="badge badge-danger mr-2" *ngFor="let reason of arrReasons"> {{reason.strCategoria}} </span>
                        </div>
                    </div>
        
                </div>

            </div>
        </div>
    </div>

<!-- COMENTARIOS divScroll mb-4-->
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-end">
                    <div class="col-11">
                        <div class="card px-2" *ngFor="let data of arrTracking">
                            <div class="container card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <i class="fa fa-user-circle mr-2 text-info"></i>
                                                <small style="font-size: 4;">{{data.idUser.strName}}</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <small class="text-primary ml-4" style="font-size: 2;">{{data.idUser.idRole.strRole}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row justify-content-end">
                                            <span class="badge badge-info" *ngIf="nuevo == data.idEstatus"><i class="fa fa-star"></i>Nueva</span>
                                            <span class="badge badge-danger" *ngIf="cerrado == data.idEstatus"><i class="fa fa-cog fa-spin fa fa-fw "></i>Cancelada</span>
                                            <span class="badge badge-warning" *ngIf="enProgreso == data.idEstatus"><i class="fa fa-check"></i>En Proceso</span>
                                            <span class="badge badge-success" *ngIf="finalizado == data.idEstatus"><i class="fa fa-cog fa-spin fa fa-fw "></i>Finalizado</span>
                                            <span class="badge badge-info" *ngIf="nuevo !== data.idEstatus && enProgreso !== data.idEstatus && cerrado !== data.idEstatus && finalizado !== data.idEstatus">OTRO</span>
                                        </div>
                                        <div class="row justify-content-end mt-1">
                                            <i class="fa fa-calendar mr-2"></i>
                                            <small style="font-size: 2;">{{data.createdAt | date}}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row container mt-2">
                                    <div class="col-md-12">
                                        <p> {{data.strComentario}} </p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12" >
                                        <div *ngFor="let archivos of data.aJsnEvidencias">
                                            <i class="fa fa-download mr-1"></i>
                                            <a (click)="descargarArchivoT(archivos.strFileEvidencia)"  style="font-size: x-small;cursor: pointer;">{{archivos.strFileEvidencia}}</a>
                    
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- AGREGAR COMENTARIOS -->
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <i class="fa fa-comments " style="font-size:24px; "></i> 
                                    <small style="font-size: 4; "> Comentar</small> 
        
                                <hr>
        
                                <div class="row justify-content-between">
                                    <div class="col-md-12 mt-1 ">
                                        <textarea [class.is-invalid]="strComentario.invalid && strComentario.touched" class="form-control form-control-sm " rows="3 " maxlength="300 " placeholder="Observaciones" name="strComentario" [(ngModel)]="objTracking.strComentario" required #strComentario="ngModel"></textarea>
                                        <div class="invalid-feedback" *ngIf="strComentario.errors?.required">
                                            <small>
                                                Por favor, ingrese un comentario.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col-6 mt-2">
                                        <select  [class.is-invalid]="idEstatus.invalid && idEstatus.touched" class="custom-select form-control form-control-sm" type="text" name="idEstatus" [(ngModel)]="objTracking.idEstatus" required #idEstatus="ngModel">
                                            <option [ngValue]="undefined" hidden>Seleccione Estatus</option>
                                            <option *ngFor="let estatus of arrEstatus"  [ngValue]="estatus._id"> {{estatus.strNombre}} </option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="idEstatus.errors?.required">
                                            <small>
                                                Por favor, seleccione una opción.
                                            </small>
                                        </div>
                                    </div>
        
                                    <div class="col-5 mt-2">
                                        <button [disabled]="forma.invalid" type="submit" class="btn btn-outline-info btn-sm btn-block float-right">Comentar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <i class="fa fa-file " style="font-size:24px; "></i>
                                <small style="font-size: 4; "> Adjuntar Archivos</small> 
        
                                <hr>

                                <app-file-uploader *ngIf="!resetImage" (archivosObtenidos)="obtenerArchivos($event)"></app-file-uploader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

