<div class="card-deck row animated fadeIn fast">

    <div class="col-md-4 animated fadeIn fast">
        <div class="card text-center rounded" style="height: 92%; cursor: pointer; cursor:hand; justify-content:center; color: #14B0FE; background-color: white; transform: scale(1.0);
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased;
        -webkit-box-shadow: 10px 13px 25px -11px rgba(157, 149, 199, 0.62);
        -moz-box-shadow: 10px 13px 25px -11px rgba(157, 149, 199, 0.62);
        box-shadow: 10px 13px 25px -11px rgba(157, 149, 199, 0.62);">
            <i class="fa fa-plus-circle fa-5x"></i>
            <p>Nueva Cita</p>
        </div>
    </div>


</div>