<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/utags/bg-uta-3.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <!-- <div class="card-content"> -->
            <!-- <form #userForm ="ngForm" (ngSubmit)="addUser(userForm)"> -->
            <form #userForm="ngForm" class="form-horizontal form-material" id="loginform">
                <div class="logo-uta-icono">
                    <a class="text-center db">
                        <img src="../assets/images/utags/logo-icon.png" style="width: 40%;" class="card-img-top img-responsive align-self-center" />
                    </a>
                </div>
                <!--            <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-text.png" alt="Home" /><br/><img src="assets/images/logo-text.png" alt="Home" /></a>-->
                <a>
                    <h2 class="box-title center-align text-center db">Regístrate</h2>Crea tu cuenta aquí ingresando tus datos generales
                </a>
                <!--  <div class="row">
                        <div class="input-field">
                            <p>Nombre:</p>
                            <input type="text" name="name" [(ngModel)]="userService.selectedUser.name">
                        </div>
                    </div> -->
                <div class="form-group m-2">
                    <div class="col-xs-0">
                        <input class="form-control" type="text" required="" name="strName" [(ngModel)]="user.strName" placeholder="Nombre">
                    </div>
                </div>

                <!--    <div class="row">
                        <div class="input-field">
                            <p>Apellido paterno:</p>
                            <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="userService.selectedUser.lastname">
                        </div>
                    </div>-->
                <div class="form-group m-2">
                    <div class="col-xs-0">
                        <input class="form-control" type="text" required="" name="strLastName" #lastname="ngModel" [(ngModel)]="user.strLastName" placeholder="Apellido Paterno">
                    </div>
                </div>

                <!--              <div class="row">
                        <div class="input-field">
                            <p>Apellido materno:</p>
                            <input type="text" name="motherlastname" #motherlastname="ngModel" [(ngModel)]="userService.selectedUser.motherlastname">
                        </div>
                    </div>
                    -->

                <div class="form-group m-2">
                    <div class="col-xs-0">
                        <input class="form-control" type="text" required="" name="strMotherLastName" #motherlastname="ngModel" [(ngModel)]="user.strMotherLastName" placeholder="Apellido Materno">
                    </div>
                </div>
                <!--
                    <div class="row">
                        <div class="input-field">
                            <p>Correo electrónico:</p>
                            <input type="text" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email">
                        </div>
                    </div>
-->

                <div class="form-group m-2 ">
                    <div class="col-xs-0">
                        <input class="form-control" type="text" name="strEmail" required="" placeholder="Email" #email="ngModel" [(ngModel)]="user.strEmail">
                    </div>
                </div>
                <!-- 
                    <div class="row">
                        <div class="input-field">
                            <p>Contraseña nueva:</p>
                            <input type="password" name="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password">
                        </div>
                    </div>
                    -->
                <div class="form-group  m-2">
                    <div class="col-xs-0">
                        <input class="form-control" type="password" required="" name="strPassword" #password="ngModel" [(ngModel)]="user.strPassword" placeholder="Password">
                    </div>
                </div>

                <!-- 
                    <div class="row">
                        <div class="input-field">
                            <p>Confirmar contraseña:</p>
                            <input type="password" name="confirm_password" [(ngModel)]="repetPassword">
                        </div>
                    </div>
-->

                <div class="form-group m-2">
                    <div class="col-xs-0">
                        <input class="form-control" type="password" required="" [(ngModel)]="repetPassword" name="strConfirm_Password" placeholder="Confirmar Password">
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <div class="col-xs-12">
                        <select name="strRole" #role="ngModel" [(ngModel)]="user.strRole">
  <option value="" disabled selected>Selecciona tu puesto de trabajo</option>
  <option value="coodinator">Coordinador</option>
  <option  value="director">Director</option>
  <option value="teacher">Profesor</option>
</select>
                        <label>Choose status</label>
                    </div>
                </div>

                <div class="checkbox checkbox-primary pull-left p-t-0">
                    <input id="checkbox-signup" (change)="check($event)" type="checkbox" class="filled-in chk-col-light-blue">
                    <label for="checkbox-signup"> Especialidad</label>
                </div> -->
                <!--
                <div class="row">
                    <p>Si eres director indica tu dirección</p> formControlName="rememberMe"
                    <p>
                        <label>
                              <input type="checkbox"  (change)="check($event)" />
                              <span>Especialidad</span>
                            </label>
                    </p>
                </div>
-->
                <!--
                <div class="form-group">
                    <div class="col-xs-12">
                         <select class="browser-default" name="strRole" *ngIf="checkB == true">
                              <option value="" disabled selected>Selecciona tu especialidad</option>
                              <option value="coodinator">Tecnologías de la información</option>
                              <option  value="director">Mecatrónica</option>
                              <option value="teacher">Paramédico</option>
                              <option value="teacher">Mantenimiento</option>
                              <option value="teacher">Procesos industriales</option>
                              <option value="teacher">Logística</option>
                              <option value="teacher">Energías renovables</option>
                              <option value="teacher">Desarrollo de negocios</option>
                              <option value="teacher">Contaduría</option>
                              <option value="teacher">Administración</option>
                            </select> 
                    </div>
                </div> -->

                <div class="form-group text-center m-t-0">
                    <div class="col-xs-0">
                        <!--   <button (click)="addUser(userForm)" class="btn btn-info btn-lg btn-block text-uppercase btn-rounded">Ingresar</button> -->
                    </div>
                </div>



                <div class="icono-boton">
                    <a class="text-center db m-t-0">
                        <button class="btn center" [routerLink]="'/'" (click)="addUser(userForm)" class="btn btn-info btn-lg btn-block text-uppercase btn-rounded align-content-center">Crear mi cuenta</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>